<h1>Welcome</h1>

<p> OBS, vissa saker kanske inte fungerar för när jag skulle pusha till deployment behövde jag byta databas frånsqlite till postgres och den
skickar errors som in i. Jag tänker bara köra db drop och låta gpt fixa en ny migration iaf så godnatt, hoppas gpt löste det </p>

<p>Tjo! jag orkar inte skapa ux och tänker inte ge för stor guide hittills. Nra sak att veta, all funktionalitet hittas via competitions i navbar. ännu en sak, fuck ux, tabbarna blir inte aktiva när man trycker på de ännu.</p>

<p> Det finns 3 olika sorters användare: </p>

<p>en admin skapar alla tävlingar. för att bli admin tryck bara i navbar och signa up som admin. Alla lösenord är hashade så inte ens jag 
med databasen kan se vad ni skriver in men konton är ändå inte kopplade till något, så om det inte redan är taget kan man ta admin@email.com, pass=password. 
sedan kan du ska en tävling och om du klarar av den hemska råa htmln så fyll i allt du vill, eller inte. tror jag glömt att göra något av det obligatoriskt. alla tävlingar
har automatiskt ett id så databasen fungerar. tror jag. </p>

<p>Efter att det finns tävlingar kan man signa up på en tävling genom att skapa ett konto/logga in som driver. samma sak där med integritet och confrimables.
ange bara ett start nummer så fungerar allt. Lämna gärna easter eggs också</p>

<p> sista steget är user som är funktionärer. När du är inloggad som user kan du registrera stationer. Endast drivers som anmält sig kan registreras dock. försökte lägga till bra anmälningssytem av förarae
utan konton i skapandet av tävlingar som admin men ville göra det snyggt vilket krävde javascript och fan vad jag hatar javascript. som user, tryck på register station på tävlingen som driver_signed_in
är registrerad på iallafall så kan du välja ett checkpoint om det var enduro tävling. finns inga resultat. finns inga gruppstarter. deal with it. kommer komma mer på den här hemsidan för
detta är det enda vettiga jag gjort som jag lagligt får dela källkod till men tills dess, hacka gärna och ge feedback till Leo Fjätström (unikt namn, ni hittar mig någonstans på internet).</p>

<p> ha d </p>