<h1>Driver::CompetitionEntries#edit</h1>
<p>Find me in app/views/driver/competition_entries/edit.html.erb</p>

<h1>Edit Competition Entry</h1>

<%= render 'form', competition_entry: @competition_entry %>

<%= link_to 'Back', driver_competition_entries_path %>
