<h1>Editing competition</h1>

<%= render "form", competition: @competition %>

<br>

<div>
  <%= link_to "Show this competition", path_for_competition(@competition) %> |
  <%= link_to "Back to competitions", admin_competitions_path %>
</div>
