<p style="color: green"><%= notice %></p>

<h1>Competitions</h1>

<div id="competitions">
  <% @competitions.each do |competition| %>
    <%= render competition %>
    <p>
      <%= link_to competition.name, competition %>
    </p>
  <% end %>
</div>

<%= link_to "New competition", new_competition_path %>
