<%= render 'shared/competition', competition: @competition %>

<div>
  <%= link_to "Edit this competition", edit_admin_competition_path(@competition) %> |
  <%= link_to "Back to competitions", admin_competitions_path %>

  <%= button_to "Destroy this competition",  admin_competition_path(@competition), method: :delete %>
</div>


